
<script type="text/javascript">
function getUsers()
{
	$.get( "@routes.Application.getUsers()", function showUsers1(data) { showUsers(data);} );		
}

var infoPeticiones;
function getPeticiones(){
	$.get( "@routes.Application.getPeticiones()", function (data) { infoPeticiones=data;mostrarTablaPeticiones();} );		
}

function crearPeticion()
{
	$.post( "@routes.Application.crearPeticion()",  { 
		titulo:$("#titulo").val(),
		descripcion:$("#descripcion").val(),
		prioridad:$("#prioridad").val(),
		
}, function a(){getPeticiones();} );
}
function mostrarTablaPeticiones(){
	
	$("#tablaPeticiones>tbody").html("");
	console.log(infoPeticiones);
	for (p in infoPeticiones){
		
		var creador = (infoPeticiones[p].creador!=null)?infoPeticiones[p].creador.nombre+" "+infoPeticiones[p].creador.apellido:"";
		var responsable=(infoPeticiones[p].responsable!=null)?infoPeticiones[p].responsable.nombre+" "+infoPeticiones[p].responsable.apellido:"N-A";
		var fechaCreado = new Date(infoPeticiones[p].fechacreado);
		var fechaString = fechaCreado.getDate()+"/"+(fechaCreado.getMonth()+1)+"/"+fechaCreado.getFullYear();
		
		$("#tablaPeticiones>tbody").append(
				"<tr id=\"row"+infoPeticiones[p].id+"\">"+
				"<td>"+infoPeticiones[p].titulo+"</td>"+
				"<td>"+creador+"</td>"+
				"<td>"+responsable+"</td>"+
				"<td>"+infoPeticiones[p].prioridad+"</td>"+
				"<td>"+fechaString+"</td>"+
				"</tr>"
			);	
	}
		
	
}
function toggleNewPeticionForm(){
	$("#newPeticionForm").slideToggle();
	
}
$( document ).ready(function() {
	getPeticiones();
	});
	

</script>
<div class="page-header">
<h1>Peticiones</h1>

<button class="btn btn-primary" onclick="toggleNewPeticionForm()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Crear peticion</button>
<div id="newPeticionForm" class="well bs-component" style="display:none">
<legend>Nueva peticion</legend>	
<div class="row">
	<div class="col-xs-8">
		<div class="form-group">
		<label for="titulo">Titulo:</label>
      	<input type="text" class="form-control" id="titulo" placeholder="Titulo">
      	</div>
	</div>
	<div class="col-xs-4">
		<div class="form-group">
	      <label for="prioridad">Prioridad:</label>
	      <select type="text" class="form-control" id="prioridad">
	      @models.Listas.prioridad.entrySet().map { prioridad =>
	      	<option value="@prioridad.getKey()"> @prioridad.getValue() </option>
	      }
	      </select>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
		<label for="descripcion">Descripcion:</label>
      	<textarea class="form-control" id="descripcion" placeholder="Descripcion"></textarea>
      	</div>
	</div>
</div>
 	<button class="btn btn-default" onclick="toggleNewPeticionForm()"> Cancelar </button>
   <button class="btn btn-primary" onclick="crearPeticion()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Guardar </button>


</div><!-- newUserForm -->


<table class="table table-striped table-hover" id="tablaPeticiones">
	<thead><tr>
		<th>Titulo</th> 
		<th>Creado por</th>
		<th>Responsable</th>
		<th>Prioridad</th>
		<th>Ultima actualizacion</th>
	</tr></thead>
	<tbody></tbody>
</table>
</div>