@( users:List[User] = User.find.all())

<script>
	function crearUsuario()
	{
		$.post( "@routes.Application.crearUsuario()", { 
				username:$("#username").val(),
				nombre:$("#nombre").val(),
				apellido:$("#apellido").val(),
				correo:$("#correo").val()				
		} );
		
	}
</script>
<h4>Usuarios</h4>
<button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Crear usuario</button>


<div class="row">
<div class="col-xs-6">
 <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
     <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre">
	</div>    
    </div>
   <div class="col-xs-6">
     <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="email" class="form-control" id="correo" placeholder="correo@@sitio.com">
    </div>
     <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" class="form-control" id="apellido" placeholder="Apellido">
    </div>
    </div>
    </div>
    <button class="btn btn-default btn-sm text-right" onclick="crearUsuario()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Crear </button>

<table class="table table-striped table-hover" >
  <tr>
    <th  data-sortable="true">Username</th>
    <th>Nombre</th> 
    <th>Correo</th>
    <th>Roles</th>
    <th></th>
  </tr>
  
    @users.map { u =>
    <tr>
    <td>@u.username</td>
  	<td>@u.nombre @u.apellido</td>
  	<td>@u.correo</td>
  	<td>
  		@u.roles.map { r =>
  			@r.nombre&nbsp;
  		}
  	</td>
  	<td><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>
  	</tr>
	} 
  
</table>


