@(roles:List[Rol])

<script>
	function crearUsuario()
	{
		$.post( "@routes.Application.crearUsuario()",  { 
				username:$("#username").val(),
				password:$("#password").val(),
				"roles[]":$("#roles").val(),
				nombre:$("#nombre").val(),
				apellido:$("#apellido").val(),
				correo:$("#correo").val()				
		}, function a(){toggleNewUserForm(); getUsers();} );
		
	}
	
	function editarUsuario()
	{
		$.post( "@routes.Application.editarUsuario()",  { 
				username:$("#edit_username").val(),
				"roles[]":$("#edit_roles").val(),
				nombre:$("#edit_nombre").val(),
				apellido:$("#edit_apellido").val(),
				correo:$("#edit_correo").val()				
		}, function a(){toggleEditUserForm(); getUsers();} );
		
	}
	
	function mostrarEditar(username)
	{
		$("#editUserForm").slideDown();
		$("#edit_username").val(userInfo[username].username);
		$("#edit_nombre").val(userInfo[username].nombre);
		$("#edit_apellido").val(userInfo[username].apellido);
		$("#edit_correo").val(userInfo[username].correo);
		console.log(userInfo[username].roles);
		var roles = [];
		for (r in userInfo[username].roles){
			roles.push(userInfo[username].roles[r].codigo);
		}
		console.log(roles);
		$("#edit_roles").val(roles);
		
		
	}
	
	function getUsers()
	{
		$.get( "@routes.Application.getUsers()", function showUsers1(data) { showUsers(data);} );		
	}
	
	var userInfo = [];
	function showUsers(data){
		//alert(data[0].username);
		var tableData= "<thead><tr>"+
		    "<th>Username</th>"+
		    "<th>Nombre</th> "+
		    "<th>Correo</th>"+
		    "<th>Roles</th>"+
		    "<th></th>"+
		  "</tr></thead>";
		  
		
		for (var d in data){
			userInfo[data[d].username] = data[d];
			tableData+=	"<tr id=\"edit_"+data[d].username+"\">"+
							"<td>"+data[d].username+"</td>"+
							"<td>"+data[d].nombre +" "+ data[d].apellido+"</td>"+
							"<td>"+data[d].correo+"</td>"+
							"<td>";
			for (var r in data[d].roles){
				tableData+=data[d].roles[r].nombre+" ";
			}
			tableData+="<td><button class=\"btn btn-default btn-sm\" onclick=\"mostrarEditar('"+data[d].username+"')\" type='button'><span class=\"glyphicon glyphicon-edit\" aria-hidden=\"true\"></span></button>"+
			"</tr>";
			
		}
		$("#userTable").html(tableData);
		
	}
	function toggleNewUserForm(){
		$("#newUserForm").slideToggle();
		
	}
	function toggleEditUserForm(){
		$("#editUserForm").slideToggle();
		
	}
	getUsers();
	
</script>
<div class="page-header">
<h1>Usuarios</h1>

</div>
<button class="btn btn-primary" onclick="toggleNewUserForm()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Crear usuario</button>
<div class="row">
<div id="newUserForm" class="well bs-component" style="display:none;">
<legend>Nuevo usuario</legend>	
<div class="col-xs-6">
 	<div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="text" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="password">Confirmar Password:</label>
      <input type="password" class="form-control" id="password1" placeholder="Password">
    </div>

	<div class="form-group">
      <label for="Rol">Rol:</label>
      <select multiple type="text" class="form-control" id="roles">
      @roles.map { rol =>
      	<option value="@rol.codigo"> @rol.nombre </option>
      }
      </select>
	</div>
	<button class="btn btn-default" onclick="toggleNewUserForm()"> Cancelar </button>
   <button class="btn btn-primary" onclick="crearUsuario()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Guardar </button> 
</div>   
 <div class="col-xs-6">
 	<div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre">
	</div> 
	<div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" class="form-control" id="apellido" placeholder="Apellido">
    </div>
     <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="email" class="form-control" id="correo" placeholder="correo@@sitio.com">
    </div>
     

 </div>

</div><!-- newUserForm -->

<div id="editUserForm" class="well bs-component" style="display:none;">
<legend>Editar usuario</legend>	
<div class="col-xs-6">
 	<div class="form-group">
      <label for="username">Username:</label>
      <input disabled type="text" class="form-control" id="edit_username"  placeholder="Username">
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="edit_nombre" placeholder="Nombre">
	</div> 
	<div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" class="form-control" id="edit_apellido" placeholder="Apellido">
    </div>
	<button class="btn btn-default" onclick="toggleEditUserForm()"> Cancelar </button>
   <button class="btn btn-primary" onclick="editarUsuario()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Guardar </button> 
</div>   
 <div class="col-xs-6">
 	
     <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="email" class="form-control" id="edit_correo" placeholder="correo@@sitio.com">
    </div>
    <div class="form-group">
      <label for="Rol">Rol:</label>
      <select multiple type="text" class="form-control" id="edit_roles">
      @roles.map { rol =>
      	<option value="@rol.codigo"> @rol.nombre </option>
      }
      </select>
	</div>
     

 </div>

</div><!-- newUserForm -->
</div><!-- row -->
    

<table class="table table-striped table-hover" id="userTable" >
 <td><img src="@routes.Assets.at("images/loading.gif")" /></td>
</table>


