@(peticiones: List[Peticion], user: User)

<header>
        <hgroup>
            <h1>Dashboard</h1>
            <h2>Tasks over all projects</h2>
        </hgroup>
    </header>

    <article  class="tasks">
        //tareas.groupBy(_.peticion).map {
            //case (peticion, tarea) => {
                <div class="folder" data-folder-id="peticion.id">
                    <header>
                        <h3>//peticion.titulo</h3>
                    </header>
                    <ul class="list">
                        //tareas.map { tarea =>
                          //  views.html.tareas.item(tarea)
                        //}
                    </ul>
                </div>
            }
        }
    </article>